In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('/Users/bayusedana/Documents/GitHub/Python-Projects/Jupyter/online_retail.csv', encoding = 'ISO-8859-1')

df.head(), df.info(), df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461773 entries, 0 to 461772
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      461773 non-null  object
 1   product_code  461773 non-null  object
 2   product_name  459055 non-null  object
 3   quantity      461773 non-null  int64
 4   order_date    461773 non-null  object
 5   price         461773 non-null  float64
 6   customer_id   360853 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 24.7+ MB

(  order_id product_code                     product_name  quantity  \
 0   493410      TEST001          This is a test product.         5
 1  C493411        21539          RETRO SPOTS BUTTER DISH        -1
 2   493412      TEST001          This is a test product.         5
 3   493413        21724  PANDA AND BUNNIES STICKER SHEET         1
 4   493413        84578   ELEPHANT TOY WITH BLUE T-SHIRT         1

             order_date  price  customer_id
 0  2010-01-04 09:24:00   4.50      12346.0
 1  2010-01-04 09:43:00   4.25      14590.0
 2  2010-01-04 09:53:00   4.50      12346.0
 3  2010-01-04 09:54:00   0.85          NaN
 4  2010-01-04 09:54:00   3.75          NaN  ,
 None,
             quantity          price    customer_id
 count  461773.000000  461773.000000  360853.000000
 mean        9.088892       4.569963   15557.611138
 std        86.366467     153.411566    1593.728741
 min     -9600.000000  -53594.360000   12346.000000
 25%         1.000000       1.250000   14210.000000
 50%         3.000000       2.100000   15580.000000
 75%        10.000000       4.210000   16938.000000
 max     10200.000000   25111.090000   18287.000000)